.container {
  background: white;
  border: 3px solid black;
  border-radius: 0 0 5px 5px;
  padding: 30px;
  text-align: center;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.input-field,
.convert-button {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
  border: 1px solid #007bff;
}

.convert-button {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.convert-button:hover {
  background-color: #333;
}

.convert-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.result-text {
  display: block;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  text-align: center;
}

.container-app {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
