.navbar {
    background: black;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 35px;   
    margin-bottom: 65px;
    padding: 0 15px;
}

.app-logo{
    font-size: 20px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: rgb(0, 119, 255);
}
